header {
  width: 500px;
  height: 500px;
  background-color: rgb(238, 87, 180);
  text-align: center;
  border-radius: 10px;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(34, 10, 139);
}
h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: bisque;
}

.footerContainer {
  background-color: rgb(36, 202, 147);
}

.btnrow {
  background-color: aquamarine;
  border-radius: 10px;
}

.btnnext {
  float: right;
}

.questions-div {
  height: 300px;
  width: 450px;
  background-color: beige;
  text-align: left;
  border-radius: 10px;
}

form {
  margin-top: 20px;
  margin-left: 20px;
}

h5 {
  padding-top: 20px;
  margin-left: 20px;
}

.span {
  margin-left: 5px;
}

.scoreCard {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: rgb(45, 6, 218);
  margin-top: 10px;
  float: right;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
